.foot_header {
  left: 0; bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(32, 5, 129, 0.99));
  position: fixed;
}

.foot_text {
  text-align: center;
  font-size: 15px;
}

.foot_text div {
  display: inline-flex;
}

.foot_text a {
  flex: 1;
  display: list-item;
  padding: 8px 12px;
  position: relative;
  color: white;
  text-decoration: underline;
}

.foot_text text {
  flex: 1;
  padding: 1px 12px;
  position: relative;
  color: white;
  text-decoration: none;
}