.foot_header {
  left: 0; bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(32, 5, 129, 0.99));
  background-position: center;
  background-size: cover;
  position: fixed;
}

.foot_text div {
  display: inline-block;
}

.foot_text a {
  flex: 1;
  text-align: justify;
  list-style: none;
  display: list-item;
  padding: 8px 12px;
  position: relative;
  color: white;
  text-decoration: underline;
  font-size: 15px;
}

.foot_text text {
  flex: 1;
  text-align: justify;
  list-style: none;
  display: list-item;
  padding: 8px 12px;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 15px;
}